@font-face {
    font-family: 'Petersburg';
    src: url('../fonts/Petersburg.woff2') format(woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Petersburg';
    src: url('../fonts/Petersburg.woff') format(woff);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Petersburg';
    src: url('../fonts/petersburg-bold-cyrillic.woff2') format(woff2);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Petersburg';
    src: url('../fonts/petersburg-bold-cyrillic.woff') format(woff);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}